---
interface Props {
    hideEpisodesLink?: boolean;
}

const { hideEpisodesLink = false } = Astro.props;
---
<header class="site-header">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="container">
        <div class="logo">
            <img src="/images/ai-tools-lab-logo.png" alt="AI Tools Lab Logo" class="site-logo">
            <a href='/'>AI Tools Lab</a>
        </div>
        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
                {!hideEpisodesLink && <li><a href='/episodes'>Episodes</a></li>}
                {/* <li><a href='/resources'>Resources</a></li> */}
                <li><a href='/articles'>Articles</a></li>
                <li><a href='/observations'>Observations</a></li>
                <li><a href='/about'>About</a></li>
            </ul>
        </nav>
    </div>
</header>
