---
import MainLayout from './MainLayout.astro';
const { frontmatter, headings } = Astro.props;
interface Heading { depth: number; text: string; }
const pageTitle = headings.find((h: Heading) => h.depth === 1)?.text || 'Untitled';
---
<MainLayout title={pageTitle}>
    <main class="container">
        <div>
            <div class="episode-content">
                <br />
                <article class="markdown-content">
                    <slot />
                </article>            
            </div>
        </div>
    </main>
</MainLayout>

<style>
    .markdown-content {
        max-width: 800px;
        margin: 2rem auto;
        padding: 0 1rem;
    }
</style>
